@model EmployeeViewModel

@{
    ViewData["Title"] = "Create";
    // ViewBag.Departments = _departmentRepo.GetAll(); ;
}

<h1>Create New Employee</h1>

<form asp-action="Create">


    <partial name="PartialViews/CreateEditPartial" />



    <input type="submit" value="Create" class="btn btn-primary" /> |
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>

</form>

@section ValidationScriptsSection {
    <partial name="_ValidationScriptsPartial" />
@* 
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <scrkipt src="~/lib/jquery-validation/dist/jquery.validate.js"></scrkipt> *@
}
